body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.body_wrapper {
    margin: 0 1% 0 40%;
}

#header {
    float: left;
    width: 35%;
    margin: 0 2.5% 0 2.5%;
    position: fixed;
    height: 100%;
    border-right: dashed 3px #cccccc;
}

#logo {
    fill: #218CD3;
    width: 95%;
}

#main_menu {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: hidden;
}

#main_menu li {
    width: 32%;
    text-align: center;
    list-style-type:none;
    float: left;
}

#main_menu li ul, #main_menu li ul li {
    width: 100%;
    padding: 0;
}

#main_menu li:first-child {
    margin-left: 2%;
}

#main_menu li a {
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #218CD3;
}

#main_menu li a:visited {
    color: #195F8D;
}

#intro {
    text-align: center;
    font-size: 18px;
}

h2 {
    font-family: 'Bevan', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Bevan', cursive;
    font-size: 25px;
}

p ,tr, td, a {
    font-family: 'Roboto', sans-serif;
}

.add_info {
    display: inline-block;
    margin: 10px;
    max-width: 480px;
}

footer {
    float: left;
    position: fixed;
    bottom: 0;
    width: 34%;
    margin-left: 2.5%;
}

footer #update_warning {
    display: none;
}
