.info_table {
    text-align: left;
    border-collapse: collapse;
    border: none;
}

.info_table tr td, .info_table tr th {
    padding: 8px;
    border: 3px solid rgb(0, 124, 206);
}

.info_table tr .middle_align {
    text-align: center;
}

.info_table tr td {
    color: rgb(0, 124, 206);
}

.info_table tr td a {
    text-decoration: none;
    font-weight: bold;
}

.info_table .late {
    background-color: rgb(0, 39, 75);
}

.info_table tr:hover {
    background-color: rgb(226, 226, 226);
}

.info_table tr:first-child {
    background-color: rgb(0, 124, 206);
    color: white;
}

.info_table tr td:last-child {
    width: 400px;
}

.info_table tr td a {
    color: rgb(0, 124, 206);
}

