<div class="login">
	<div class="container">
		<div class="form">
            <h1>Log in</h1>
			
			<%= form_for(:session, url: login_path) do |f| %> 
			    <div class="input-field col s6">
			        <%= f.email_field :email, :placeholder => "Email" %> 
			    </div>
			    <div class="input-field col s6">
			        <%= f.password_field :password, :placeholder => "Password" %> 
			    </div>
			    <div class="actions">
                    <button class="btn waves-effect waves-light" type="submit" name="commit">Log in
                        <i class="material-icons right">send</i>
                    </button>
                </div>
			<% end %>
        </div>
	</div>
</div>