<h1><%= @employee.first_name + " " + @employee.last_name %></h1>

<h2>Jobs</h2>
<ul>
    <% @jobs.each do |job| %>
        <li>
            <%= link_to job.title, job_path(job) %>
        </li>
    <% end %>
</ul>

<h2>Assignments</h2>
<ul>
    <% @projects.each do |project| %>
        <li>
            <%= link_to project.name, project_path(project) %>
        </li>
    <% end %>
</ul>

<h2>Edit employee details</h2>
<%= render partial: 'form' %>