<h1>All projects</h1>
<%= link_to "New project", new_project_path %>

<ul>
    <% @projects.each do |project| %>
        <li>
            <%= link_to project.name, project_path(project) %>
            <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
    <% end %>
</ul>