<h1><%= @project.name %></h1>

<h2>Organization</h2>
<%= link_to @project.organization.name, organization_path(@project.organization) %>

<p>Team: </p>
<ul>
    <% @team.each do |employee| %>
        <li>
            <%= link_to employee.full_name, employee_path(employee) %>
        </li>
    <% end %>
</ul>

<p>Jobs: </p>
<ul>
    <% @jobs.each do |job| %>
        <li>
            <%= link_to job.title, job_path(job) %>
        </li>
    <% end %>
</ul>