<% content_for :title, @todo.title %>

<div id="todo">
    <%= render @todo %>
</div>

<h2>Parents</h2>
<div id="parents">
    <%= render @parents %>
</div>

<h2>Children</h2>
<div id="children">
    <%= render @children %>
</div>

<%= link_to 'Back', todos_path %>
